.category-main {
    display: grid;
    margin: 20px auto;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-gap: 20px;
    width: 80%;
}

@media screen and (max-width: 1000px) {
    .category-main {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .category-main {
        grid-template-columns: repeat(1, 1fr);
    }
}
